html, *, body {
    margin: 0;
    padding: 0;
    box-sizing :border-box;
    background-color: #f7faff;
}

.bg-blue {
    background-color: #f7faff;
}

.bg-deep-blue {
    background-color: #f7faff;
}
